@import "tailwindcss";
@import "./variables.css";

/* ============================= */
/* 🔤 POKEMON TITLE        */
/* ============================= */
.pokemon {
    font-family: var(--font-heading);
    color: var(--color-primary);
    text-shadow: -1px 8px var(--color-secondary), -4px 1px var(--color-secondary), 4px 4px var(--color-secondary), 1px -5px var(--color-secondary);
    font-size: 90px;
}

/* ============================= */
/* 🔤 BASICS        */
/* ============================= */
html {
    scroll-behavior: smooth;
}

body {
    background-image: url('/bg-pokemon.jpg');
}

main,
body.header {
    @apply w-full max-w-[1800px] mx-auto;
}

main {
    @apply min-h-screen;
}

/* ============================= */
/* 🔤 CARD       */
/* ============================= */
.pokemon-card::after {
    content: '';
    background-image: url('/bg-card-after.jpg');
    background-repeat: no-repeat;
    background-size: 10em;
    filter: brightness(100%);
    opacity: .5;
    position: absolute;
    height: 7em;
    width: 7em;
    right: 0;
    bottom: .4em;
}

.navigation-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: #6c79db;
    opacity: 0;
    border-radius: 100px;
    transform: scaleX(0);
    transform-origin: center;
    transition: all .3s;
}

.navigation-link.active,
.navigation-link:focus,
.navigation-link:hover {
    outline: none;
    background-color: #eee;
}

.navigation-link.navigation-link.active:after {
    opacity: 1;
    transform: scaleX(1);
}

#terms p, #privacy p,
#terms ul,
#privacy ul {
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    color: var(--color-text);
    font-size: 1.125rem;
    font-weight: 700;
}